<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe ab quos perferendis quidem quisquam nisi eaque accusamus. Esse architecto laborum voluptate magnam a voluptates inventore reprehenderit ratione explicabo possimus, aspernatur optio placeat tempore deleniti aut cumque quos deserunt asperiores libero officia! Corrupti reiciendis quidem sapiente quasi? Ad, eum voluptates.</p>
</section>