<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">

    <!-- <nav class="py-2">
        <ul class="flex justify-end">
            <li class="my-1 mx-6"><a href="">Home</a></li>
            <li class="my-1 mx-6"><a href="">Features</a></li>
            <li class="my-1 mx-6"><a href="">About</a></li>
            <li class="my-1 mx-6"><a href="">Projects</a></li>
            <li class="my-1 mx-6"><a href="">Contact</a></li>
        </ul>
    </nav> -->
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect Your Password</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, optio!</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Star Now</button>
    </div>
    <img src="images/img-finger.svg" alt="" class="w-80">
</header>