 <footer class="bg-zinc-900 py-10 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div>
            <h4  class="font-bold text-xl">Site map</h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/pricing">pricing</a>
        </div>
        <div>
            <h4 class="font-bold text-xl">Site map</h4>
            <p>Lorem ipsum dolor sit.</p>
            <p>Lorem ipsum dolor sit.</p>
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Social links</h4>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <a href="">TikTok</a>
        </div>
    </div>
    <div class="text-center mt-14">
        <a class="font-extralight text-sm" href="">Derechos reservados por el crack de <strong class="font-bold">Andrés Arrieta</strong></a>
    </div>

 </footer>